/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('background1.jpg'); /* Path to your image */
  background-size: cover; /* Make the image cover the entire screen */
  background-position: center center; /* Center the image */
  background-repeat: repeat; /* Don't repeat the image */
  background-attachment: fixed;
  height: 100%; /* Make the body take the full height of the viewport */
  opacity: 0.2;
  z-index: -1;
  
}

/* Header Styles */
header {
  background-color: #1f1f1f00;
  padding: 2rem;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  color: #00d1b2;
  font-family: 'Orbitron', monospace;
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* Intro paragraph */
.intro {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #ccc;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
}

/* Search Bar Styles */
.dropdown-container {
  text-align: center;
  margin: 2rem 0;
}

#topicSelect {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #2a2a2a;
  color: white;
}

#searchInput {
  padding: 0.7rem 1rem;
  width: 60%;
  max-width: 400px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #2a2a2a;
  color: #fff;
}

/* Main Movie Section */
main {
  padding: 2rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.movie-card {
  background-color: #242424;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  padding: 1rem; /* Ensure there is some padding inside the card */
  height: auto; /* Let the card grow based on content size */
}


.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 6cm;
  height: 9cm;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.movie-card h2 {
  font-size: 1rem;
  padding: 0.5rem;
  color: #00d1b2;
}

.movie-card p {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #ccc;
  text-align: justify;
  max-height: none;  /* Limit height for description */
  overflow: visible;
  text-overflow: clip;
  line-height: 1.4;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  margin-top: 2rem;
}
